@page "/actors"
@inject HttpClient httpClient
<h3>Actors</h3>

@if (!(_actorNames is null))
{
    foreach (var item in _actorNames)
    {
        <ul>

            <li>@item</li>


        </ul>

    }
}
